# Functions
# prototype
snippet protot
	${1:class_name}.prototype.${2:method_name} = function(${3}) {
		${0:${VISUAL}}
	};
# Function
snippet fun
	function ${1:function_name}(${2}) {
		${0:${VISUAL}}
	}
# tableau
snippet ta
	var ${1:tableau}={${0:elements}};
# array
snippet ar
	var ${1:array}=[${0:elements}];
